
body {
  padding: 1px;
  width: 960px;
  margin: auto;
}

/* nav bar */

div ul {
  display: inline-block;
}

h1 {
  font-size: 28px;
  display: inline-block;
}

#delicious {
  display: inline;
  float: left;
}

#logo {
  float: left;
}

#social-media {
  display: inline;
  float: right; 
    
}

/* pizza image and articles */

main {
  margin-top: 20px;
}

section p {
  text-indent: 20px;
  padding: 10px;
}
/* ingredients stuff */

#ingredients{
  display: flex;
  background-image: url("img/list-bg.png");
}
#list-bg{
  position:absolute;
  z-index: -1;
}
#right-list{
  float: right;
  margin: 40px;
  width: 400px;
  font-size: x-large;
  font-family: 'Patrick Hand', cursive;
}
#left-list {
  display: inline-block;
  margin: 40px;
  font-size: x-large;
  font-family: 'Patrick Hand', cursive;
}
/*git flow*/

#footerblock{
  text-align: center;
}